<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item menuClose *ngFor="let page of pages" (click)="openPage(page)">
                {{page.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-header >
    <ion-toolbar color='verde'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Amigos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding  >
  <ion-list>
  
    <ion-item color='amarillo'>
      <ion-label *ngIf="!clasificacion"> Por tiempo</ion-label>
      <ion-label *ngIf="clasificacion"> Por velocidad</ion-label>
      <ion-toggle [(ngModel)]="clasificacion" color = 'verde'></ion-toggle>
    </ion-item>
    
    <ion-item *ngFor="let item of usuarios" item="item">
      <ion-avatar item-left>
        <img align="center" src="assets/images/{{item}}.jpg" />
      </ion-avatar>
      
      <h2>{{item}}</h2>
      
      <div *ngIf="!clasificacion">
        <ion-icon name="stopwatch"></ion-icon>
        62 min
        <ion-icon name="walk"></ion-icon>
        10 km
      </div>
      
      <div *ngIf="clasificacion">
        <ion-icon name="speedometer" item-bottom> </ion-icon>
        2.5km/h
      </div>
      
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-nav #mycontent [root]="rootPage"></ion-nav>