<form [formGroup]="myForm">
    <ion-list>
        <ion-item color="danger">
            <ion-label>Register</ion-label>
            <ion-toggle formControlName="toggleRegister"></ion-toggle>
        </ion-item>


        <ion-card *ngIf="!myForm.get('toggleRegister').value">
            <ion-card-header>
                Login
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label floating>
                            Email
                        </ion-label>
                        <ion-input type="email" formControlName="email" [inputEmail]="nothing"></ion-input>
                    </ion-item>
                    <p *ngIf="emailBoolean" color="danger">Invalid email or Empty</p>
                    <ion-item>
                        <ion-label floating>Password</ion-label>
                        <ion-input type="password" formControlName="password" [inputPassword]="nothing"></ion-input>
                    </ion-item>
                    <p *ngIf="passwordBoolean" color="danger">Invalid password or Empty</p>
                    <button ion-button full (click)="check(1)">
                        <ion-label>
                            Agree
                        </ion-label>
                    </button>                    
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="myForm.get('toggleRegister').value">
            <ion-card-header>
                Register
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label floating>
                            User
                        </ion-label>
                        <ion-input type="text" formControlName="userRegister" [inputUser]="nothing"></ion-input>
                    </ion-item>
                    <p *ngIf="userRegisterBoolean" color="danger">Invalid User or Empty</p>
                    <ion-item>
                        <ion-label floating>
                            Email
                        </ion-label>
                        <ion-input type="email" formControlName="emailRegister" [inputEmail]="nothing"></ion-input>
                    </ion-item>
                    <p *ngIf="emailRegiserBoolean" color="danger">Invalid email or Empty</p>
                    <ion-item>
                        <ion-label floating>
                            Password
                        </ion-label>
                        <ion-input type="password" formControlName="passwordRegister" [inputPassword]="nothing"></ion-input>
                    </ion-item>
                    <p *ngIf="passwordRegisterBoolean" color="danger">Invalid password or Empty</p>
                    <ion-item>
                        <ion-label floating>
                            Password Verification
                        </ion-label>
                        <ion-input type="password" formControlName="passwordVeriRegister" [inputPassword]="nothing"></ion-input>
                    </ion-item>
                    <p *ngIf="passwordVeriRegiserBoolean" color="danger">Invalid password or Empty</p>
                    <button full ion-button (click)="check(2)">
                        <ion-label>
                            Agree
                        </ion-label>
                    </button>  
                    <button ion-button full (click)="doFbLogin()">
                        <ion-label>
                            Facebook
                        </ion-label>
                    </button>                  
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-list>
</form>